<html>
    {% load staticfiles %}
    <head>
        <title>Записи прийомів.</title>
        <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        {% for record in records %}
        <div>
            <h2><a href="">Кличка тварини: {{ record.animal_name }}</a></h2>
            <h4>Господар: {{ record.owner_full_name }} </h4>
            <h4><a href="">Клініка: {{ record.clinic_name }}</a></h4>
            <p>Вівдвідали клініку: {{ record.visit_date }}</p>
            <h4>Лікар: {{ record.doctor }}</h4>
            <h4>Діагноз чи причина візиту: {{ record.disease }}</h4>
            <p>Додаткові коментарі: {{ record.text }}</p>
        </div>
        {% endfor %}
    </body>
</html>